.notificationCard__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-between;
}

.notificationCard__mainInfo {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notificationCard__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.notificationCard__textContainer {
  margin-left: 10px;
}

.notificationCard__author {
  all: unset;
  color: #777;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.notificationCard__text {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
  color: #222;
  word-break: break-word;
}

.notificationCard__author {
  color: #777;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
}
.notificationCard__author:hover {
  color: #222;
  text-decoration: underline;
}
